In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mayumba,GA,2021-04-14 23:34:09,-3.4320,10.6554,78.64,88,97,9.53
1,1,Kavaratti,IN,2021-04-14 23:28:21,10.5669,72.6420,83.43,68,6,2.21
2,2,Grindavik,IS,2021-04-14 23:38:10,63.8424,-22.4338,42.80,93,75,14.97
3,3,Kurilsk,RU,2021-04-14 23:34:09,45.2333,147.8833,32.68,69,95,10.76
4,4,Puerto Escondido,MX,2021-04-14 23:34:10,15.8500,-97.0667,84.20,74,75,5.75

In [6]:
#Get the data types for the dataframe
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
#Configure gmaps to use my google API key
gmaps.configure(api_key = g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df1 = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df = preferred_cities_df1.dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mayumba,GA,2021-04-14 23:34:09,-3.4320,10.6554,78.64,88,97,9.53
1,1,Kavaratti,IN,2021-04-14 23:28:21,10.5669,72.6420,83.43,68,6,2.21
4,4,Puerto Escondido,MX,2021-04-14 23:34:10,15.8500,-97.0667,84.20,74,75,5.75
16,16,Kieta,PG,2021-04-14 23:38:11,-6.2167,155.6333,82.45,78,78,5.37
21,21,Hilo,US,2021-04-14 23:36:44,19.7297,-155.0900,80.60,54,1,12.66
22,22,Soyo,AO,2021-04-14 23:29:06,-6.1349,12.3689,80.31,82,69,3.89
25,25,Butaritari,KI,2021-04-14 23:38:12,3.0707,172.7902,81.39,78,86,7.54
27,27,Alofi,NU,2021-04-14 23:38:12,-19.0595,-169.9187,80.60,69,40,5.75
30,30,Faanui,PF,2021-04-14 23:37:27,-16.4833,-151.7500,81.99,73,100,11.99
32,32,Kapaa,US,2021-04-14 23:38:13,22.0752,-159.3190,78.80,61,40,16.11

In [24]:
preferred_cities_df.count()

City_ID       185
City          185
Country       185
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0            Mayumba      GA     78.64  -3.4320   10.6554
1          Kavaratti      IN     83.43  10.5669   72.6420
4   Puerto Escondido      MX     84.20  15.8500  -97.0667
16             Kieta      PG     82.45  -6.2167  155.6333
21              Hilo      US     80.60  19.7297 -155.0900
22              Soyo      AO     80.31  -6.1349   12.3689
25        Butaritari      KI     81.39   3.0707  172.7902
27             Alofi      NU     80.60 -19.0595 -169.9187
30            Faanui      PF     81.99 -16.4833 -151.7500
32             Kapaa      US     78.80  22.0752 -159.3190

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mayumba,GA,78.64,-3.4320,10.6554,LIKWALE LODGE
1,Kavaratti,IN,83.43,10.5669,72.6420,Hotels in Lakshadweep Islands
4,Puerto Escondido,MX,84.20,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
16,Kieta,PG,82.45,-6.2167,155.6333,Uruna Bay Retreat
21,Hilo,US,80.60,19.7297,-155.0900,Hilo Hawaiian Hotel
22,Soyo,AO,80.31,-6.1349,12.3689,Hotel Mpampa
25,Butaritari,KI,81.39,3.0707,172.7902,Isles Sunset Lodge
27,Alofi,NU,80.60,-19.0595,-169.9187,Taloa Heights
30,Faanui,PF,81.99,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
32,Kapaa,US,78.80,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))